<div class="login-page">
    <style></style>
    <div class="form">

        <!--<font color="red">-->
				<!--<span style="align: center">-->
					<!--<c:if test="${not empty param['error']}">-->
                        <!--<c:out value="${SPRING_SECURITY_LAST_EXCEPTION.message}"/>-->
                    <!--</c:if>-->
				<!--</span>-->
        <!--</font>-->

        <!--<form class="register-form" id="registerForm" action="#" method="post">-->
            <!--<div class="username">-->
                <!--<input type="text" placeholder="name" id="username" autocomplete="off"/>-->

                <!--&lt;!&ndash;validation&ndash;&gt;-->
                <!--<div class="alert alert-success hidden">-->
                    <!--You have success-->
                <!--</div>-->
                <!--<div class="alert alert-danger hidden">-->
                    <!--Something wrong in your sintax-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="password">-->
                <!--<input type="password" placeholder="password" id="password"/>-->

                <!--&lt;!&ndash;validation&ndash;&gt;-->
                <!--<div class="alert alert-success hidden">-->
                    <!--You have success-->
                <!--</div>-->
                <!--<div class="alert alert-danger hidden">-->
                    <!--Something wrong in your words-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="email">-->
                <!--<input type="email" placeholder="email address" id="email" autocomplete="off"/>-->
                <!---->
                <!--&lt;!&ndash;validation&ndash;&gt;-->
                <!--<div class="alert alert-success hidden">-->
                    <!--You have success-->
                <!--</div>-->
                <!--<div class="alert alert-danger hidden">-->
                    <!--Something wrong in your sintax-->
                <!--</div>-->
            <!--</div>-->
            <!--<input type="hidden" id="csrfToken" value="${_csrf.token}"/>-->
            <!--<input type="hidden" id="csrfHeader" value="${_csrf.headerName}"/>-->
            <!--<button>create</button>-->
            <!--<p class="message">Already registered? <a href="#" onclick="toggle_visibility(); return false;"-->
                                                      <!--class="message">Sign In</a></p>-->
        <!--</form>-->

        <form class="login-form" action="/login" method="post">
            <input type="text" name="username" placeholder="username" autocomplete="off"/>
            <input type="password" name="password" placeholder="password"/>
            <button>log in</button>
            <p class="message">Not registered? <a href="#" onclick="toggle_visibility(); return false;" class="message">Create
                an account</a></p>
        </form>
    </div>
</div>